.calc{
    width: 400px;
    height: 600px;
    background: gray;
    margin-left: 400px;
}
#screen{
    width: 70%;
    height: 40px;
    margin-top: 40px;
    margin-left: 55px;
    pointer-events: none;


}
.btn{
    width: 60px;
    height: 45px;
    margin-left: 30px;
    margin-top: 30px;
    background: bisque;
}
body{
    background-color:maroon;
}
